@using WebChatProj.Entities;
@model WebChatProj.ViewModels.Group.IndexVM
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Site.cshtml";
}

<h2>Groups</h2>
<a href="/Group/Create">Create group</a>

@if (Model.Groups != null)
{
    foreach (var item in Model.Groups)
    {
    <div class="row">
        <div class="col-1">
            @item.Name 
            @if (((User)Session["loggedUser"]).Id == item.OwnerID)
            {
                <a href="/Group/Manage?id=@item.Id">Manage</a>
            }
        </div>
    </div>
    }
}

