@using WebChatProj.Entities;
@using WebChatProj.Utility;
@model WebChatProj.ViewModels.Group.ManageVM
@{
    ViewBag.Title = "Manage";
    Layout = "~/Views/Shared/_Site.cshtml";
}

<h2>Manage</h2>
Group: @Model.Group.Name
<a href="/Group/Delete?id=@Model.Group.Id">Delete group</a>
<h2>Members</h2>
@if (Model.GroupMembers != null)
{
    foreach (var item in Model.GroupMembers)
    {
        <div class="row">
            <div class="col-1">
                @item.Username                 
                @if (item.Id != Model.Group.OwnerID)
                {<a href="/Group/RemoveMember?memberId=@item.Id&groupId=@Model.Group.Id">Kick</a>}
            </div>
        </div>
    }
}
<hr />
<h2>Friends</h2>
@if (Model.Friends != null)
{
    foreach (var item in Model.Friends)
    {
        if (!ControllerStuff.IsUserInList(item, Model.GroupMembers))
        {
        <div class="row">
            <div class="col-1">
                @item.Username <a href="/Group/AddMember?memberId=@item.Id&groupId=@Model.Group.Id">Add to group</a>
            </div>
        </div>
        }
    }
}
